<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page - Coffee Management</title>
    <link rel="stylesheet" href="../style/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    

    <div class="page-wrapper">

        <div class="banner-group position-relative">

            <!-- Navbar -->

            <header class="navBar w-100">

                <div class="container d-flex justify-content-between py-4">
                    
                    <!-- Title -->

                    <div>
                        <img src="../image/titleLogo.png" alt="Title Logo" class="titleLogo">
                    </div>

                    <!-- Menu, Link -->

                    <ul class="nav gap-4">

                        <li class="nav-item">
                            <a class="text-white text-decoration-none" href="#" class="nav-link">Trang chủ</a>
                        </li>

                        <li class="nav-item">
                            <a class="text-white text-decoration-none" href="#" class="nav-link">Menu</a>
                        </li>

                        <li class="nav-item">
                            <a class="text-white text-decoration-none" href="#" class="nav-link"><i class="bi bi-basket2-fill"></i></a>
                        </li>

                        <li class="profile">
                            
                            <!-- Button Profile -->

                            <button class="dropdown-toggle border-0 bg-black text-white fs-3" type="button" id="profile-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person"></i>
                            </button>

                            <!-- Dropdown -->

                            <ul id="author-menu-drd" class="dropdown-menu" aria-labelledby="profile-dropdown">

                                <li>
                                    <a class="dropdown-item" href="../view/signIn.html">Đăng nhập</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="../view/register.html">Đăng ký</a>
                                </li>

                            </ul>

                        </li>

                    </ul>

                </div>


            </header>


            <!-- Banner Text -->

            <div class="bannerText">

                <!-- Text (Title) -->
                <h1 class="fw-bold text-white">
                    Bắt đầu một ngày với một tách 
                    <br>
                    đen đá không đường
                </h1>

                <!-- Button -->
                <button class="btn-danger btn px-4 py-2 rounded-sm mt-4"><a href="#" class="text-white text-decoration-none fw-bold fs-5">Mua Ngay</a></button>

            </div>

        </div>


        <!-- Main Section Content -->

            <!-- Introduce -->

        <section class="container my-5 d-flex justify-content-around">

            <!-- Video -->

            <iframe class="rounded" width="560" height="315" src="https://www.youtube.com/embed/VJy4L5iAQNU" title="Amazing latte art with World Champion Umpaul signature Designs   cafe vlog 월드라떼아트 챔피언 엄폴의 라떼아트 디자인들" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <!-- Introduce Text -->

            <div class="d-block mt-5">

                <!-- Title -->

                <h2 class="fw-bold text-center">Have a sip - Uống gì không?</h2>

                <!-- Content -->

                <p class="text-center mt-5">
                    Chào mừng bạn đến với <span class="text-danger fw-bold">Mindx Coffee</span>, nơi bạn có thể tận ưởng những tách cà phê <br>thơm ngon và thư giản trong không gian ẩm cúng và hiện đại. Hãy đến với chúng tôi để <br>trải nghiệm những giây phút thư giản tuyệt vời cùng bạn bè và người thân!
                </p>

            </div>

        </section>


            <!-- Hottest -->

        <section class="container">

            <!-- Title -->

            <h2 class="fw-bold">Có gì mới nhất?</h2>

            <!-- Product -->

            <div class="d-flex gap-5">

                <!-- Item 1 -->

                <div class="card rounded">

                    <!-- Image -->
                    <img class="rounded" src="../image/sp1.png" alt="Sản Phẩm 1">

                    <!-- Content -->

                    <div class="d-flex justify-content-between px-2">
                        <!-- Product Name -->
                        <p>sp1</p>

                        <!-- Product Price -->
                        <p class="fw-bold">100.000 ₫</p>
                    </div>

                    <!-- Buy Button -->

                    <button class="btn btn-danger mb-2 mx-2"><a href="#" class="text-decoration-none text-white">Đặt Hàng</a></button>

                </div>

                <!-- Item 2 -->

                <div class="card rounded">

                    <!-- Image -->
                    <img class="rounded" src="../image/sp2.png" alt="Sản Phẩm 1">

                    <!-- Content -->

                    <div class="d-flex justify-content-between px-2">
                        <!-- Product Name -->
                        <p>Trà sứa chân châu Milk Tea</p>

                        <!-- Product Price -->
                        <p class="fw-bold">45.000 ₫</p>
                    </div>

                    <!-- Buy Button -->

                    <button class="btn btn-danger mb-2 mx-2"><a href="#" class="text-decoration-none text-white">Đặt Hàng</a></button>

                </div>

                <!-- Item 3 -->

                <div class="card rounded">

                    <!-- Image -->
                    <img class="rounded" src="../image/sp3.png" alt="Sản Phẩm 1">

                    <!-- Content -->

                    <div class="d-flex justify-content-between px-2">
                        <!-- Product Name -->
                        <p>Nước kiềm</p>

                        <!-- Product Price -->
                        <p class="fw-bold">50.000 ₫</p>
                    </div>

                    <!-- Buy Button -->

                    <button class="btn btn-danger mb-2 mx-2"><a href="#" class="text-decoration-none text-white">Đặt Hàng</a></button>

                </div>

                <!-- Item 4 -->

                <div class="card rounded">

                    <!-- Image -->
                    <img class="rounded" src="../image/sp4.png" alt="Sản Phẩm 1">

                    <!-- Content -->

                    <div class="d-flex justify-content-between px-2">
                        <!-- Product Name -->
                        <p>Trà đào măm xôi</p>

                        <!-- Product Price -->
                        <p class="fw-bold">55.000 ₫</p>
                    </div>

                    <!-- Buy Button -->

                    <button class="btn btn-danger mb-2 mx-2"><a href="#" class="text-decoration-none text-white">Đặt Hàng</a></button>

                </div>

            </div>

        </section>

        <!-- Footer -->

        <footer>
            <div class="container">

                <!-- Footer Item -->

                <div class="row h-100 content">

                    <!-- About Us -->
                    <div class="col-md-4 item">
                        <h5>About us</h5>
                        <ul>
                            <li>
                                <span class="fw-bold">Địa chỉ: </span>Tầng 5, 71 Nguyễn Chí Thanh, Phường Láng <br>Hạ, Quận Đống Đa, Hà Nội
                            </li>
                        </ul>
                    </div>

                    <!-- Newsletter -->
                    <div class="col-md-4 item">
                        <h5>Newsletter</h5>
                        <div class="d-flex footer-form">
                            <input type="text" placeholder="Enter Email">
                            <button class="btn btn-primary py-2 px-4">Gửi</button>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="col-md-4 item">
                        <h5>Follow Us</h5>
                        <div>
                            <h6>
                                <i>Hotline</i>
                            </h6>
                            <ul>
                                <li>
                                    <span>Hà nội: </span>
                                    0247771788
                                </li>
                                <li>
                                    <span>Tphcm: </span>
                                    02877717789
                                </li>
                            </ul>
                        </div>

                        <!-- Social Media Button -->

                        <div class="socialMedia">
                            <a href="https://www.facebook.com/mindxschool" class="me-2 text-white">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="https://www.facebook.com/mindxschool" class="me-2 text-white">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </footer>

    </div>


    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/10.13.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.13.2/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.13.2/firebase-storage-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.13.2/firebase-auth-compat.js"></script>

    <!-- Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/10.13.2/firebase-database-compat.js"></script>

    <script src="../script/firebase-config.js"></script>
    <script src="../script/register.js"></script>
    <script src="../script/js/signIn.js"></script>
    <script src="../script/main.js"></script>

    <script src="../script/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>